<!-- Main Content -->
<main class="container animated fadeIn">
    <div class="page-header">
        <h1>Coolinary Market: Recetas 2018 <small><cite>By J.R. Farin</cite></small></h1>
    </div>
    <div class="row">
        <div class="card-columns">
            <div class="card text-center" *ngFor="let receta of _rs.infoRecetas; let i = index">
                <img class="card-img-top" [src]="receta.src" alt="{{receta.descripcion}}">
                <div class="row mt-1">
                    <div class="col text-center gold">
                        <span class="icon-family"></span>
                        <span class="cinzel">{{receta.familia}}</span>
                    </div>
                    <div class="col text-center gold">
                        <span class="icon-clock"></span>
                        <span class="cinzel">{{receta.tiempo}}</span>
                    </div>
                    <div class="col text-center gold">
                        <span class="icon-users"></span>
                        <span class="cinzel">{{receta.pax}}</span>
                    </div>
                    <div class="col text-center gold">
                        <span class="icon-gauge"></span>
                        <span class="cinzel">{{receta.dificultad}}</span>
                    </div>
                </div>
                <img src="assets/img/recetas/swirl.png" alt="separador" class="img-fluid center-block mt-2">
                <div class="card-body">
                    <h4 class="card-title gold mb-3">{{receta.titulo}}</h4>
                    <p class="card-text recetasText">{{receta.descripcion}}</p>
                    <a href="" class="btn btn-block btn-outline-custom">Ver Receta</a>
                </div>
                <div class="card-footer my-3">
                    <img src="assets/img/recetas/swirl.png" alt="separador" class="img-fluid center-block">
                    <span class="author gold">By J.R. Farin</span>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer with Social Buttons Starts -->
<app-footer></app-footer>
